.inventory-container {
    margin-top: 60px;
}

.headline {
    margin: 30px 10px 10px 10px;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    background: #a1c6df;
}

.headings {
    margin-left: 33%;
    display: flex;
    gap: 40px;
}

.heading {
    font-size: 20px;
    border-radius: 7px;
    background: transparent;
    border: transparent;
}

.heading.active {
    color: orangered;
    border-bottom: 5px solid orangered;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.inventory-table th {
    color: orangered;
}

/* Dark */

body.dark .inventory-container {
    margin-top: 60px;
    background: black;
    color: white;
    height: 100%;
}

body.dark .heading {
    background: black;
    color: white;
}

body.dark .heading.active {
    color: pink;
    border-bottom: 5px solid pink;
}

body.dark .inventory-table th {
    color: pink;
}