.welcome-container {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    background: #fdfdfd;
    color: #333;
}

.welcome-logo {
    margin-top: 50px;
    width: 200px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #2d572c;
}

.header p {
    font-size: 1.2em;
    color: #4b6f44;
}

.farm-image {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about {
    padding: 20px;
}

.about h2 {
    color: #2d572c;
}

.about p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
    font-size: 1.1em;
}

body.dark .welcome-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    background: black;
    color: white;
}