.crm-header {
    display: flex;
    margin-top: -16px;
    margin-left: 60px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 8px #333;
    position: fixed;
    width: 92%;
}

.header-left {
    display: flex;
    align-items: center;
}

.crm-logo {
    height: 40px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.crm-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 0;
    opacity: 0;
    transition: all 0.5s ease;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 8px;
}

.search-container.open .search-input {
    width: 400px;
    opacity: 1;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}