.header {
    background: white;
    color: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.logo-header {
    margin-left: 90px;
    margin-top: 15px;
    height: 40px;
    border-radius: 5px;
}

.title {
    margin: 0;
    font-size: 50px;
}